<form action="/auth/login" method="post">
    <div class="input-field">
        <input id="username" type="text" name="username" value="" />
        <label for="username">Email</label>
    </div>
    <div class="input-field">
        <input id="password" type="password" name="password" value="" />
        <label for="password">Password</label>
    </div>
    <p>
        <button class="btn waves-effect waves-light" type="submit">Log In</button>
    </p>
</form>
