{{#extend "layouts/main"}}

    {{#content "body"}}
        <div class="row">
            <div class="col s12">
                <div class="back">
                    <a href="/app/wallet"><i class="material-icons">arrow_back_ios</i> Back to dashboard</a>
                </div>
                <div class="card-panel address-transfers">
                    <h3>Token Transfers</h3>
                    <p>For address <span class="address-title"></span></p>
                    <table>
                        <thead>
                        <tr>
                            <th class="block">Block</th>
                            <th class="from">From</th>
                            <th class="to">To</th>
                            <th class="amount">Amount</th>
                        </tr>
                        </thead>
                        <tbody class="transfers">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{/content}}

{{/extend}}
