{{#extend "layouts/main"}}

    {{#content "body"}}
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <h2 class="page-title">Log In</h2>
                {{> loginForm }}
            </div>
        </div>
    {{/content}}

{{/extend}}
