{{#extend "layouts/main"}}

    {{#content "body"}}
        <div class="row">
            <div class="col s12 xl6 offset-xl3 wallet-send">
                <div class="back">
                    <a href="/app/wallet"><i class="material-icons">arrow_back_ios</i> Back to dashboard</a>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h3>Send Tokens</h3>
                    </div>
                    <div class="card-content">
                        <form action="#" method="post" class="token-send-form">
                            <div class="row">
                                <div class="input-field col s12">
                                    <select name="token">
                                        <option value="" disabled>Choose Token</option>
                                        <option value="{{tokenId}}" selected>{{tokenName}}</option>
                                    </select>
                                    <label>Token Contract</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select class="account-selector" name="from">
                                        <option value="" disabled selected>Choose Account to send from</option>
                                    </select>
                                    <label>From Account</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="to-account-label">
                                    <label>To Account</label>
                                    <div class="to-account-selector">
                                        <span class="active" id="email">email</span>
                                        <span id="wallet">wallet</span>
                                    </div>
                                </div>
                                <div class="input-field col s12 to-account">
                                    <input id="to-account" type="text" name="to_account" value=""
                                           placeholder="0x0000000000000000000000000000000000000000"/>
                                    <input id="to-email" type="email" name="to_email" value=""
                                           placeholder="email@example.org"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="amount" type="number" step="any" name="amount" value="" required/>
                                    <label for="amount">Send Amount</label>
                                    <div class="balance-wrap">
                                        Balance: <span class="token1-balance"></span>
                                    </div>
                                </div>
                            </div>
                            <button id="submit" class="btn waves-effect waves-light" type="submit">Send</button>
                        </form>
                    </div>
                </div>
                <div class="card-panel current-transfers">
                </div>
            </div>
            <div class="col s12 xl3 test-accounts">
                <h3>Test Accounts</h3>
                {{> testAccounts }}
            </div>
        </div>
    {{/content}}
{{/extend}}
